ASC Prod BAckup/ASC Prod/force-app/main/default/flows/B2B_Provision_User_RecordTriggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_BuyerGroupMember_to_Col_for_Insert</name>
        <label>Add BuyerGroupMember to Col for Insert</label>
        <locationX>188</locationX>
        <locationY>1276</locationY>
        <assignmentItems>
            <assignToReference>varBuyerGroupMemberCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempBuyerGroupMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCol_BuyerGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Buyer_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Buyer_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Collection_Var</name>
        <label>Add to the Collection Var</label>
        <locationX>1261</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>colPermissionSetAssignmentToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempPermSetAssignRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BuyerGroupMember_Values</name>
        <label>Assign BuyerGroupMember Values</label>
        <locationX>285</locationX>
        <locationY>1107</locationY>
        <assignmentItems>
            <assignToReference>varTempBuyerGroupMember.BuyerGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Buyer_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempBuyerGroupMember.BuyerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Contact_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BuyerGroupMember_to_Col_for_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Var</name>
        <label>Assign Contact to Var</label>
        <locationX>861</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Contact_Details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_User_Creation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_License</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_SetResponse</name>
        <label>Error-SetResponse</label>
        <locationX>1597</locationX>
        <locationY>1875</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Permission_Set_Assignments_to_Insert</name>
        <label>Permission Set Assignments to Insert</label>
        <locationX>1297</locationX>
        <locationY>1245</locationY>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.IsRevoked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Response</name>
        <label>Set Response</label>
        <locationX>1069</locationX>
        <locationY>2175</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Eval_If_user_was_found</name>
        <label>Eval If user was found</label>
        <locationX>1553</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_User_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Community_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Community User Was Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>communityUserAlias</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Get_Current_Contact_Details.FirstName} , 1) + LEFT( {!Get_Current_Contact_Details.LastName} , 3) +  RIGHT(TEXT(NOW()), 3)</expression>
    </formulas>
    <formulas>
        <name>communityUserName</name>
        <dataType>String</dataType>
        <expression>{!Get_Current_Contact_Details.Email}</expression>
    </formulas>
    <formulas>
        <name>waitFor5Seconds</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24) + (1/24/60/55)</expression>
    </formulas>
    <interviewLabel>B2B Provision User - RecordTriggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Provision User - RecordTriggered</label>
    <loops>
        <name>Iterate_through_Permission_Sets</name>
        <label>Iterate through Permission Sets</label>
        <locationX>1069</locationX>
        <locationY>1359</locationY>
        <collectionReference>Get_Permission_Sets_to_Assign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Permission_Set_Assignments_to_Insert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Buyer_Groups</name>
        <label>Loop Buyer Groups</label>
        <locationX>85</locationX>
        <locationY>967</locationY>
        <collectionReference>Get_Buyer_Group_to_Assign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BuyerGroupMember_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Buyer_Group_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Buyer_Account</name>
        <label>Create Buyer Account</label>
        <locationX>2024</locationX>
        <locationY>868</locationY>
        <faultConnector>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BuyerId</field>
            <value>
                <elementReference>Get_Current_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerStatus</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditStatus</field>
            <value>
                <stringValue>Good Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Current_Contact_Details.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <object>BuyerAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Buyer_Group_Member</name>
        <label>Create Buyer Group Member</label>
        <locationX>53</locationX>
        <locationY>1535</locationY>
        <faultConnector>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputReference>varBuyerGroupMemberCol</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Community_User</name>
        <label>Create Community User</label>
        <locationX>1069</locationX>
        <locationY>1143</locationY>
        <assignRecordIdToReference>varUserIdOutput</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Permission_Sets_to_Assign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>communityUserAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>communityUserAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Contact_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Current_Contact_Details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Current_Contact_Details.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Current_Contact_Details.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Community_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>communityUserName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Permission_Set_Assignments</name>
        <label>Create Permission Set  Assignments</label>
        <locationX>1069</locationX>
        <locationY>1767</locationY>
        <faultConnector>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputReference>colPermissionSetAssignmentToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>407</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Contact_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BuyerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Group_to_Assign</name>
        <label>Get Buyer Group to Assign</label>
        <locationX>29</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Buyer_Groups</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus - en_US - User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Buyer Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BuyerGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_Profile</name>
        <label>Get Community Profile</label>
        <locationX>1069</locationX>
        <locationY>1035</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Customer Community Plus User</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_License.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_User</name>
        <label>Get Community User</label>
        <locationX>1276</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eval_If_user_was_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Contact_Update.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Contact_Update</name>
        <label>Get Contact - Contact Update</label>
        <locationX>1017</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BuyerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_User_Creation</name>
        <label>Get Contact - User Creation</label>
        <locationX>801</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BuyerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contact_Details</name>
        <label>Get Contact</label>
        <locationX>272</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Buyer_Group_to_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BuyerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Sets_to_Assign</name>
        <label>Get  Permission Sets to Assign</label>
        <locationX>1069</locationX>
        <locationY>1251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Permission_Sets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Buyer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Buyer Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_License</name>
        <label>Get User License</label>
        <locationX>1069</locationX>
        <locationY>927</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Community_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community Plus</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community Plus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set Enabled as buyer</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1616</locationX>
        <locationY>743</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Contact_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enabled_as_Buyer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>BuyerAccount</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Create_System_Object_Records</name>
            <connector>
                <targetReference>Get_Contact_User_Creation</targetReference>
            </connector>
            <label>Create System Object Records</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_Contact_Path</name>
            <connector>
                <targetReference>Get_Contact_Contact_Update</targetReference>
            </connector>
            <label>Update Contact Path</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>colPermissionSetAssignmentToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>Contact Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseMsg</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>tempPermSetAssignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varBuyerGroupMemberCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <name>varTempBuyerGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <name>varTextCol_BuyerGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
