ASC Prod BAckup/ASC Prod/force-app/main/default/flows/B2B_Provision_User_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_BuyerGroupMember_to_Col_for_Insert</name>
        <label>Add BuyerGroupMember to Col for Insert</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varBuyerGroupMemberCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempBuyerGroupMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCol_BuyerGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Buyer_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Buyer_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_the_Collection_Var</name>
        <label>Add to the Collection Var</label>
        <locationX>754</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>colPermissionSetAssignmentToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempPermSetAssignRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BuyerGroupMember_Values</name>
        <label>Assign BuyerGroupMember Values</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTempBuyerGroupMember.BuyerGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Buyer_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempBuyerGroupMember.BuyerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Contact_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BuyerGroupMember_to_Col_for_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_SetResponse</name>
        <label>Error-SetResponse</label>
        <locationX>1194</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Permission_Set_Assignments_to_Insert</name>
        <label>Permission Set Assignments to Insert</label>
        <locationX>754</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPermSetAssignRecord.IsRevoked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Response</name>
        <label>Set Response</label>
        <locationX>666</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Buyer_Account</name>
        <label>Is Buyer Account ?</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_WebStore_Buyer_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Is_Buyer_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Buyer_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Buyer_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>communityUserAlias</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Get_Current_Contact_Details.FirstName} , 1) + LEFT( {!Get_Current_Contact_Details.LastName} , 3) +  RIGHT(TEXT(NOW()), 3)</expression>
    </formulas>
    <formulas>
        <name>communityUserName</name>
        <dataType>String</dataType>
        <expression>{!Get_Current_Contact_Details.Email}</expression>
    </formulas>
    <formulas>
        <name>waitFor5Seconds</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24) + (1/24/60/55)</expression>
    </formulas>
    <interviewLabel>B2B Provision User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Provision User Flow</label>
    <loops>
        <name>Iterate_through_Permission_Sets</name>
        <label>Iterate through Permission Sets</label>
        <locationX>666</locationX>
        <locationY>2246</locationY>
        <collectionReference>Get_Permission_Sets_to_Assign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Permission_Set_Assignments_to_Insert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Buyer_Groups</name>
        <label>Loop Buyer Groups</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Buyer_Group_to_Assign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BuyerGroupMember_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Buyer_Group_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Buyer_Account</name>
        <label>Create Buyer Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Mandatory_Wait</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BuyerId</field>
            <value>
                <elementReference>Get_Current_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerStatus</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditStatus</field>
            <value>
                <stringValue>Good Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Current_Contact_Details.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <object>BuyerAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Buyer_Group_Member</name>
        <label>Create Buyer Group Member</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Wait_For_Other_5_Seconds</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputReference>varBuyerGroupMemberCol</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Community_User</name>
        <label>Create Community User</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <assignRecordIdToReference>varUserIdOutput</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Permission_Sets_to_Assign</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>communityUserAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>communityUserAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Current_Contact_Details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Current_Contact_Details.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Current_Contact_Details.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Community_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>communityUserName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Permission_Set_Assignments</name>
        <label>Create Permission Set  Assignments</label>
        <locationX>666</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Wait_to_Update_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_SetResponse</targetReference>
        </faultConnector>
        <inputReference>colPermissionSetAssignmentToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Buyer_Group_to_Assign</name>
        <label>Get Buyer Group to Assign</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Buyer_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus - en_US - User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Buyer Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BuyerGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_Profile</name>
        <label>Get Community Profile</label>
        <locationX>666</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Customer Community Plus User</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_License.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contact_Details</name>
        <label>Get Current Contact Details</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Buyer_Group_to_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Buyer_Account</name>
        <label>Get Existing Buyer Account</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Buyer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Contact_Details.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuyerAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Sets_to_Assign</name>
        <label>Get  Permission Sets to Assign</label>
        <locationX>666</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Permission_Sets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Buyer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ascensus Buyer Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_License</name>
        <label>Get User License</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Community_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community Plus</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community Plus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WebStore_Buyer_Group</name>
        <label>Get WebStore Buyer Group</label>
        <locationX>666</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>varTextCol_BuyerGroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebStoreBuyerGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set Enabled as buyer</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>666</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Set_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enabled_as_Buyer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Contact_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colPermissionSetAssignmentToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>Contact Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseMsg</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>tempPermSetAssignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varBuyerGroupMemberCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <name>varTempBuyerGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuyerGroupMember</objectType>
    </variables>
    <variables>
        <name>varTextCol_BuyerGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Mandatory_Wait</name>
        <label>Mandatory Wait</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Wait_For_Other_5_Seconds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_For_5_Seconds</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Loop_Buyer_Groups</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>waitFor5Seconds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait For 5 Seconds</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_For_Other_5_Seconds</name>
        <label>Wait For Other 5 Seconds</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Get_WebStore_Buyer_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_For_5_Seconds_Other</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_WebStore_Buyer_Group</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>waitFor5Seconds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait For 5 Seconds</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_to_Update_Contact</name>
        <label>Wait to Update Contact</label>
        <locationX>666</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>waitFor5Seconds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait</label>
        </waitEvents>
    </waits>
</Flow>
