ASC Prod BAckup/ASC Prod/force-app/main/default/flows/B2B_Create_Lead_From_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>create_case_comment</name>
        <label>create case comment</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Comment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>B2B Create Lead From Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Create Lead From Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Records</name>
        <label>Create Exception Records</label>
        <locationX>836</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>B2B_Input_Parameter__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>FLOW: B2B Create Lead From Case</stringValue>
            </value>
        </inputAssignments>
        <object>Ascensus_Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>create_case_comment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agreed_to_Receive_Emails__c</field>
            <value>
                <elementReference>$Record.Agreed_to_Receive_Emails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Areas_of_Interest__c</field>
            <value>
                <elementReference>$Record.Areas_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company_University__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Case_to_Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsClosedOnCreate</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_to_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case was closed after creating Lead. Lead Id : </stringValue>
        </value>
    </variables>
</Flow>
