ASC Prod BAckup/ASC Prod/force-app/main/default/flows/New_Lab_Start_Up_Program_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>TermsAndConditionChecked</name>
        <label>TermsAndConditionChecked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Terms_Condition_Checked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TermsAndConditionNotChecked</name>
        <label>TermsAndConditionNotChecked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Terms_Condition_Checked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Lab_Program_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Catalysis</name>
        <choiceText>Catalysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catalysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electronics</name>
        <choiceText>Electronics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronics</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_UserChoice</name>
        <choiceText>End User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End User</stringValue>
        </value>
    </choices>
    <choices>
        <name>Life_Science</name>
        <choiceText>Life Science</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Life Science</stringValue>
        </value>
    </choices>
    <choices>
        <name>Materials_Science</name>
        <choiceText>Materials Science</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materials Science</stringValue>
        </value>
    </choices>
    <choices>
        <name>Moving_to_a_new_institution_Choice</name>
        <choiceText>Moving to a new institution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moving to a new institution</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherChoice</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PurchaserChoice</name>
        <choiceText>Purchaser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchaser</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receiving_your_first_research_grant_Choice</name>
        <choiceText>Receiving your first research grant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receiving your first research grant</stringValue>
        </value>
    </choices>
    <choices>
        <name>SpecialtyChemicals</name>
        <choiceText>Specialty Chemicals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Specialty Chemicals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Starting_a_new_lab_Choice</name>
        <choiceText>Starting a new lab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Starting a new lab</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_P</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Term_and_Condition_Checked</name>
        <label>Is Term and Condition Checked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TermsAndConditionNotChecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Terms_And_Conditions_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TermsAndConditionChecked</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AreasOfInterestChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Areas_of_Interest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_Country__c</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BillingAddressFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Address_Ship}, {!Address_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingAttentionFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Attention_Line_Information_Ship}, {!Attention_Line_Information_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingCompanyFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Company_Ship}, {!Company_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingCountryFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Country_Shipping}, {!Country_Billing}),
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingDepartmentFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Department_Ship}, {!Department_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingEmailValue</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Email_Ship.value}, {!Email_Bill.value}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingFirstNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK(TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill}))),
  &quot;&quot;,
  IF(
    LEN(TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill}))) 
      - LEN(SUBSTITUTE(TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})), &quot; &quot;, &quot;&quot;)) = 0,
    &quot;&quot;,
    LEFT(
      TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})),
      FIND(&quot; &quot;, TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})) &amp; &quot; &quot;) - 1
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>BillingFullNameFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingJobTitleFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!Job_Title_Ship}, {!Job_Title_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingLastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK(TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill}))),
  &quot;&quot;,
  IF(
    /* space count = 0 → only one word */
    LEN(TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill}))) 
      - LEN(SUBSTITUTE(TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})), &quot; &quot;, &quot;&quot;)) = 0,
    /* return the single word */
    TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})),
    /* else return only the 2nd word */
    MID(
      TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})) &amp; &quot; &quot;,
      FIND(&quot; &quot;, TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})) &amp; &quot; &quot;) + 1,
      FIND(
        &quot; &quot;,
        TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})) &amp; &quot; &quot;,
        FIND(&quot; &quot;, TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})) &amp; &quot; &quot;) + 1
      )
      - FIND(&quot; &quot;, TRIM(IF({!Billing_Add_Same_as_Shipping}, {!Full_Name_Ship}, {!Full_Name_Bill})) &amp; &quot; &quot;) - 1
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>BillingPhoneFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Billing_Add_Same_as_Shipping}, {!Phone_Ship.value}, {!Phone_Bill.value})</expression>
    </formulas>
    <formulas>
        <name>BillingPostalCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Billing_Add_Same_as_Shipping}, {!Zip_Code_Postal_Code_Ship}, {!Zip_Code_Postal_Code_Bill})</expression>
    </formulas>
    <formulas>
        <name>BillingStateProFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!County_State_Province_Ship}, {!County_State_Province_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingStreetFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Billing_Add_Same_as_Shipping},
  {!Address_Ship},
  TRIM(
    {!Building_Room_Bill} &amp;
    IF(
      ISBLANK({!Building_Room_Bill}) || ISBLANK({!Address_Bill}),
      &quot;&quot;,
      &quot;, &quot;
    ) &amp;
    {!Address_Bill}
  )
)</expression>
    </formulas>
    <formulas>
        <name>BilllingCityTownFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   IF({!Billing_Add_Same_as_Shipping}, {!City_Town_Ship}, {!City_Town_Bill}),
   &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>JobFunctionFormula</name>
        <dataType>String</dataType>
        <expression>IF(
   {!My_job_function_is} = &quot;Other&quot;,
   {!Other_Desc},
   {!My_job_function_is}
)</expression>
    </formulas>
    <formulas>
        <name>PurchasedfromStremInPastFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!I_have_purchased_from_Strem_in_the_past} =&apos;Yes&apos;, TRUE, IF({!I_have_purchased_from_Strem_in_the_past} = &apos;No&apos;, FALSE, FALSE))</expression>
    </formulas>
    <formulas>
        <name>PurchasedNOFormula</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>ShippingLastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
   ISBLANK({!Full_Name_Ship}),
   &quot;&quot;,
   IF(
      LEN({!Full_Name_Ship}) - LEN(SUBSTITUTE({!Full_Name_Ship}, &quot; &quot;, &quot;&quot;)) = 0,
      {!Full_Name_Ship},
      TRIM(MID({!Full_Name_Ship}, FIND(&quot; &quot;, {!Full_Name_Ship}) + 1, LEN({!Full_Name_Ship})))
   )
)</expression>
    </formulas>
    <interviewLabel>New Lab Start-Up Program Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>New Lab Start-Up Program Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>FLOW : New Lab Start-Up Program Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Ascensus_Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Record</name>
        <label>Create Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Areas_of_Interest__c</field>
            <value>
                <elementReference>Indicate_your_area_of_interests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attention__c</field>
            <value>
                <elementReference>Attention_Line_Information_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Attention__c</field>
            <value>
                <elementReference>BillingAttentionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Department__c</field>
            <value>
                <elementReference>BillingDepartmentFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Phone__c</field>
            <value>
                <elementReference>BillingPhoneFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>BilllingCityTownFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>BillingCompanyFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>BillingCountryFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Brief_description_of_research</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>BillingEmailValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Date_of_First_Order__c</field>
            <value>
                <elementReference>Estimated_date_of_first_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>BillingFirstNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_ID_and_or_Lab_Title__c</field>
            <value>
                <elementReference>Grant_ID_and_or_Lab_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_have_purchased_from_Strem_in_the_past__c</field>
            <value>
                <elementReference>PurchasedfromStremInPastFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>BillingJobTitleFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Start_Up_date__c</field>
            <value>
                <elementReference>Lab_Start_Up_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Status__c</field>
            <value>
                <elementReference>Status_of_your_lab_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>BillingLastNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>New Lab Start Up Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Job_Function__c</field>
            <value>
                <elementReference>JobFunctionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Researchers_in_the_Lab__c</field>
            <value>
                <elementReference>Number_of_researchers_in_the_lab</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>BillingPostalCodeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Address_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>City_Town_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Company__c</field>
            <value>
                <elementReference>Company_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Country_Shipping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Department__c</field>
            <value>
                <elementReference>Department_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Email__c</field>
            <value>
                <elementReference>Email_Ship.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Full_Name__c</field>
            <value>
                <elementReference>Full_Name_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Job_Title__c</field>
            <value>
                <elementReference>Job_Title_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Phone__c</field>
            <value>
                <elementReference>Phone_Ship.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_PostalCode__c</field>
            <value>
                <elementReference>Zip_Code_Postal_Code_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>County_State_Province_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Website__c</field>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_New_Funding__c</field>
            <value>
                <elementReference>Source_of_new_funding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>BillingStateProFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>BillingStreetFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website2</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lead_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Lab_Start_Up_Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 47, 47);&quot;&gt;Something went wrong. Please try again, or reach out to your Salesforce administrator for assistance.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>NOT 1</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>DUPLICATES_DETECTED</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Duplicates_Detetected</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 13px;&quot;&gt;DUPLICATES DETECTED: You&apos;re creating a duplicate record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>DUPLICATES_DETECTED</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Lab_Program_Screen</name>
        <label>New Lab Program Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Term_and_Condition_Checked</targetReference>
        </connector>
        <fields>
            <name>Heading</name>
            <fieldText>&lt;p&gt;&amp;nbsp;&lt;strong style=&quot;font-size: 48px; color: rgb(255, 185, 40);&quot;&gt;New Lab Start-Up Program&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Program eligibility is subject to approval. To qualify for the Strem New Lab Discount you must be starting a new lab or receiving a new research grant. (20% discount applies to Strem Catalog items only) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete the fields below and return this form directly to your Strem Customer Service Representative or to &lt;/span&gt;&lt;a href=&quot;info@ascensusspecialties.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;info@ascensusspecialties.com&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; (Fax# 978.465.3104).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This offer cannot be combined with any other discounts or offers.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ship_to_Address</name>
            <fieldText>Ship to Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ship_to_Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>Full Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attention_Line_Information_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>Attention Line Information:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>City_Town_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>City / Town:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>County_State_Province_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>County / State / Province:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country_Shipping</name>
                    <choiceReferences>CountryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email_Ship</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Website</name>
                    <dataType>String</dataType>
                    <fieldText>Website</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ship_to_Address_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_Title_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>Job Title:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>Company:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Address_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>Address:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Department_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>Department:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Zip_Code_Postal_Code_Ship</name>
                    <dataType>String</dataType>
                    <fieldText>Zip Code / Postal Code:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone_Ship</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Billing_Add_Same_as_Shipping</name>
            <dataType>Boolean</dataType>
            <fieldText>Billing address is same as shipping address.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Bill_to_Address</name>
            <fieldText>Bill to Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bill_to_Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingFullNameFormula</elementReference>
                    </defaultValue>
                    <fieldText>Full Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attention_Line_Information_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingAttentionFormula</elementReference>
                    </defaultValue>
                    <fieldText>Attention Line Information:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingCompanyFormula</elementReference>
                    </defaultValue>
                    <fieldText>Company:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Address_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingAddressFormula</elementReference>
                    </defaultValue>
                    <fieldText>Address:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Building_Room_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Building / Room:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Zip_Code_Postal_Code_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingPostalCodeFormula</elementReference>
                    </defaultValue>
                    <fieldText>Zip Code / Postal Code:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone_Bill</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>BillingPhoneFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Bill_to_Address_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_Title_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingJobTitleFormula</elementReference>
                    </defaultValue>
                    <fieldText>Job Title:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Department_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingDepartmentFormula</elementReference>
                    </defaultValue>
                    <fieldText>Department:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>City_Town_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BilllingCityTownFormula</elementReference>
                    </defaultValue>
                    <fieldText>City / Town:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>County_State_Province_Bill</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingStateProFormula</elementReference>
                    </defaultValue>
                    <fieldText>County / State / Province:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country_Billing</name>
                    <choiceReferences>CountryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingCountryFormula</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email_Bill</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>BillingEmailValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Billing_Add_Same_as_Shipping</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lab_Information</name>
            <fieldText>Lab Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lab_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_job_function_is</name>
                    <choiceReferences>PurchaserChoice</choiceReferences>
                    <choiceReferences>End_UserChoice</choiceReferences>
                    <choiceReferences>OtherChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>My job function is:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Number_of_researchers_in_the_lab</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of researchers in the lab:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Status_of_your_lab_Radio</name>
                    <choiceReferences>Starting_a_new_lab_Choice</choiceReferences>
                    <choiceReferences>Moving_to_a_new_institution_Choice</choiceReferences>
                    <choiceReferences>Receiving_your_first_research_grant_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status of your lab</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Grant_ID_and_or_Lab_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Grant ID and/or Lab Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Website2</name>
                    <dataType>String</dataType>
                    <fieldText>Website</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Brief_description_of_research</name>
                    <fieldText>Brief description of research:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lab_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Desc</name>
                    <dataType>String</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>My_job_function_is</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>OtherChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Source_of_new_funding</name>
                    <dataType>String</dataType>
                    <fieldText>Source of new funding:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Lab_Start_Up_date</name>
                    <dataType>Date</dataType>
                    <fieldText>Lab Start-Up date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Estimated_date_of_first_order</name>
                    <dataType>Date</dataType>
                    <fieldText>Estimated date of first order:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Indicate_your_area_of_interests</name>
                    <choiceReferences>Life_Science</choiceReferences>
                    <choiceReferences>Electronics</choiceReferences>
                    <choiceReferences>SpecialtyChemicals</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Indicate your area of interest:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>I_have_purchased_from_Strem_in_the_past</name>
                    <choiceReferences>Yes_P</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I have purchased from Strem in the past:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discount_Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 153, 0); font-size: 14px;&quot;&gt;*20% Discount will be available for 1 Year  after the date of approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Lab_Program_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Lab_Program_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Terms_and_Conditions_Warning_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(238, 0, 0);&quot;&gt;Please accept the terms and privacy policies.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Terms_Condition_Checked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Terms_And_Conditions_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;div style=&quot;font-size:14px;&quot;&gt;   I have read and accept the    &lt;a href=&quot;https://www.strem.com/privacy-statement&quot; target=&quot;_blank&quot;&gt;     Terms of Use &amp; Privacy Policy   &lt;/a&gt;. &lt;/div&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(238, 0, 0);&quot;&gt;Please accept the terms and privacy policies.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Terms_And_Conditions_Checkbox} = true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Next_Button</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>SUBMIT</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 71, 178);&quot;&gt;Your request has been submitted!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We’ve received your request and our team is reviewing the details. A representative will contact you shortly with any additional information needed and to provide an update on the status.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you have any immediate questions, please reach out to us at info@ascensusspecialties.com.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Lab_Program_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>avdc</stringValue>
        </value>
    </variables>
    <variables>
        <name>Terms_Condition_Checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
