ASC Prod BAckup/ASC Prod/force-app/main/default/flows/Opportunity_Before_CreateUpdate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Year_Volume</name>
        <label>Assign Current Year Volume</label>
        <locationX>633</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Year_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentYearVolume</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Record_Type_RD_Portfolio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Year_Volume_eq_0</name>
        <label>Assign Current Year Volume eq 0</label>
        <locationX>105</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Year_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Record_Type_RD_Portfolio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Year_Volume_eq_Full_Year_Volume</name>
        <label>Assign Current Year Volume eq Full Year Volume</label>
        <locationX>369</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Year_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Full_Year_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Record_Type_RD_Portfolio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook_to_Portfolio</name>
        <label>Assign Pricebook to Portfolio</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RD_PriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ascensus_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_RD_Project_Number</name>
        <label>Populate RD Project Number</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.RD_Project_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDProjectNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RD_PriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Account</name>
        <label>Update Opportunity Account</label>
        <locationX>204</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityParentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Necessary_fiedls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Necessary_fiedls</name>
        <label>Update Opportunity Necessary Fields</label>
        <locationX>336</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedProbablity</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Date_Check_FY</name>
        <label>Date Check FY</label>
        <locationX>501</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Record_Type_RD_Portfolio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FY_or_PY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseDateYearPastOrFuture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Year_Volume_eq_0</targetReference>
            </connector>
            <label>FY or PY</label>
        </rules>
        <rules>
            <name>X100_CY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X100_current_year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Year_Volume_eq_Full_Year_Volume</targetReference>
            </connector>
            <label>100% CY</label>
        </rules>
        <rules>
            <name>Prorate_CY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X100_current_year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Year_Volume</targetReference>
            </connector>
            <label>Prorate CY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Ascensus_Account</name>
        <label>Default Ascensus Account</label>
        <locationX>336</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Necessary_fiedls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EXISTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ascensus_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Account</targetReference>
            </connector>
            <label>EXISTS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Creation</name>
        <label>Is Creation</label>
        <locationX>336</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_Ascensus_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RD_Portfolio_Record_Type_Id</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_present</name>
        <label>Is Pricebook present</label>
        <locationX>182</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Get_Ascensus_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EXISTS_Pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RD_PriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricebook_to_Portfolio</targetReference>
            </connector>
            <label>EXISTS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Type_RD_Portfolio</name>
        <label>Is Record Type RD Portfolio</label>
        <locationX>501</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R_D_Portfolio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Creation</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateYearPastOrFuture</name>
        <dataType>Boolean</dataType>
        <expression>OR( YEAR( {!$Record.CloseDate} ) &lt; YEAR( TODAY() ), YEAR( {!$Record.CloseDate} ) &gt; YEAR( TODAY() ) )</expression>
    </formulas>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR( TODAY() )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentYearVolume</name>
        <dataType>Number</dataType>
        <expression>(((12.5)- MONTH({!$Record.CloseDate} ))/12)*{!$Record.Full_Year_Volume__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OpportunityParentAccount</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT( ISBLANK( {!$Record.AccountId} ) ),
    {!$Record.AccountId},
    {!Get_Ascensus_Account.Id}
)</expression>
    </formulas>
    <formulas>
        <name>RD_Pricebook_Label</name>
        <dataType>String</dataType>
        <expression>{!$Label.RD_Pricebook}</expression>
    </formulas>
    <formulas>
        <name>RDProjectNumber</name>
        <dataType>String</dataType>
        <expression>&quot;RD&quot; &amp; RIGHT(TEXT(YEAR(TODAY())), 2) &amp; 
 LPAD(TEXT(VALUE(RIGHT({!Get_Last_Created_RD_Portfolio_Opportunity.RD_Project_Number__c}, 4)) + 1), 4, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>UpdatedCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF (
     NOT( ISBLANK( {!$Record.CloseDate} ) ),
     {!$Record.CloseDate},
     IF (
         NOT( ISBLANK( {!$Record.Customer_Requested_Date__c} ) ),
         {!$Record.Customer_Requested_Date__c},
         Today()+90
     )
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedProbablity</name>
        <dataType>Number</dataType>
        <expression>IF (
     NOT( ISBLANK( {!$Record.Probability} ) ),
     {!$Record.Probability},
     0
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity_Before_CreateUpdate_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Before Create/Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ascensus_Account</name>
        <label>Get Ascensus Account</label>
        <locationX>336</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Ascensus_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.defaultAccForRdPortfolioOpportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Created_RD_Portfolio_Opportunity</name>
        <label>Get Last Created RD Portfolio Opportunity</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_RD_Project_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RD_Portfolio_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RD_Portfolio_Record_Type_Id</name>
        <label>Get RD Portfolio Record Type Id</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Created_RD_Portfolio_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>R_D_Portfolio</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RD_PriceBook</name>
        <label>Get RD PriceBook</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pricebook_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RD_Pricebook_Label</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_Check_FY</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
