ASC Prod BAckup/ASC Prod/force-app/main/default/flows/Order_Summary_Confirmation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>table of products ordered</description>
        <name>Generate_Lineitem_Table</name>
        <label>Generate Lineitem Table</label>
        <locationX>235</locationX>
        <locationY>1048</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Order_Products</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <elementReference>constColumnsForTable</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateCollectionReport</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail - Addtl</label>
        <locationX>692</locationX>
        <locationY>50</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendEmail_to_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>sendEmail_to_Contact</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Email_Recip_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendEmail_0</name>
        <label>sendEmail - Addtl</label>
        <locationX>707</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendEmail_to_Contact_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>sendEmail_to_Contact_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Email_Recip_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send email to contact that placed the order</description>
        <name>sendEmail_to_Contact</name>
        <label>sendEmail to Contact</label>
        <locationX>873</locationX>
        <locationY>211</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send email to contact that placed the order</description>
        <name>sendEmail_to_Contact_0</name>
        <label>sendEmail to Contact</label>
        <locationX>888</locationX>
        <locationY>511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Addtl_Emails_to_collection</name>
        <label>Add Addtl Emails to collection</label>
        <locationX>1</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>var_Email_Recip_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Custom_Setting_Records.Addtl_Recipient_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tableRow_to_table_markup</name>
        <label>Add tableRow to table markup</label>
        <locationX>73</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Order_Prods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Assignment</name>
        <label>Add to Assignment</label>
        <locationX>505</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Addtl_Recipient_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>237</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>var_additional_email_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_Email_Recip_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>senderEmailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Custom_Setting_Records.Sender_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Custom_Setting_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constColumnsForTable</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Catalog #,Unit Size,Quantity ,Unit Price,Total Price</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Eval_Addtl_Email_Address_Count</name>
        <label>Eval Addtl Email Address Count</label>
        <locationX>704</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>sendEmail_to_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_additional_email_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail</targetReference>
            </connector>
            <label>Count &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Addtl_Email_Address_Count_0</name>
        <label>Eval Addtl Email Address Count</label>
        <locationX>719</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>sendEmail_to_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_additional_email_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail_0</targetReference>
            </connector>
            <label>Count &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Currency_code</name>
        <label>Eval Currency code</label>
        <locationX>526</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Eval_Addtl_Email_Address_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default  - USD</defaultConnectorLabel>
        <rules>
            <name>EUR_Currency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_Addtl_Email_Address_Count_0</targetReference>
            </connector>
            <label>EUR Currency</label>
        </rules>
    </decisions>
    <description>..updated contact and delivery information</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrencySymbolFormula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!$Record.CurrencyIsoCode}), &quot;USD&quot;), &quot;$&quot;, 
IF(CONTAINS(TEXT({!$Record.CurrencyIsoCode}), &quot;EUR&quot;), &quot;€&quot;, 
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>formula_PaymentOptionPlusMethod</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Payment_Card_Details__c})),
&quot; - &quot;+{!$Record.Payment_Card_Details__c},
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_PoNumber</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.PoNumber})) &amp;&amp; {!$Record.PoNumber} &lt;&gt; &quot;DefaultPoNumber&quot;,
&quot;&lt;p&gt;&lt;strong style=\&quot;font-size:14px;\&quot;&gt;PO Number: &lt;/strong&gt;&lt;span style=\&quot;font-size:14px;\&quot;&gt;&quot;+{!$Record.PoNumber}+&quot;&lt;/span&gt;&lt;/p&gt;&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>selectedPaymentMethod</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL( {!$Record.Payment_Method__c} ) ,
 &apos;Purchase Order&apos;,
 &apos;Credit Card&apos;
 )</expression>
    </formulas>
    <formulas>
        <name>tableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Loop_Through_Order_Prods.Product2.ProductCode} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + TEXT({!Loop_Through_Order_Prods.Quantity}) + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;$&apos; + TEXT({!Loop_Through_Order_Prods.UnitPrice}) + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;$&apos; + TEXT({!Loop_Through_Order_Prods.TotalPrice}) + 
&apos;&lt;/th&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Order Summary - Confirmation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Summary - Confirmation Email</label>
    <loops>
        <name>Loop_Custom_Setting_Records</name>
        <label>Loop Custom Setting Records</label>
        <locationX>176</locationX>
        <locationY>304</locationY>
        <collectionReference>Get_Addtl_Recipient_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Addtl_Emails_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Eval_Currency_code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Order_Prods</name>
        <label>Loop Through Order Prods</label>
        <locationX>432</locationX>
        <locationY>798</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Unit_Size</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>984</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Deliv_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get additional email recipients fro custom setting</description>
        <name>Get_Addtl_Recipient_Emails</name>
        <label>Get Addtl Recipient Emails</label>
        <locationX>391</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Custom_Setting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Currency_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2B_Order_Confirmation_Email_Addtl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>712</locationX>
        <locationY>1315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_0</name>
        <label>Get Contact</label>
        <locationX>787</locationX>
        <locationY>1390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Deliv_Summary</name>
        <label>Get Order Deliv Summary</label>
        <locationX>772</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeliverToStreet</queriedFields>
        <queriedFields>DeliverToAddress</queriedFields>
        <queriedFields>DeliverToCity</queriedFields>
        <queriedFields>DeliverToCountry</queriedFields>
        <queriedFields>DeliverToPostalCode</queriedFields>
        <queriedFields>DeliverToState</queriedFields>
        <queriedFields>GrandTotalAmount</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <queriedFields>OrderDeliveryMethodId</queriedFields>
        <queriedFields>DeliveryInstructions</queriedFields>
        <queriedFields>DeliverToName</queriedFields>
        <queriedFields>DeliverToCompanyName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>632</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipping_Order_Product_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_Order_Product_Summary</name>
        <label>Get Shipping Order Product Summary</label>
        <locationX>431</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Order_Prods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Size</name>
        <label>Get Unit Size</label>
        <locationX>280</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_tableRow_to_table_markup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Order_Prods.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductAttribute</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit_Size__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>589</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1198</locationX>
        <locationY>617</locationY>
        <object>OrderSummary</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>.. added contact email and updated shipping info</description>
        <name>Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Contact.Name},&lt;/p&gt;&lt;p&gt;Thank you for your recent order from the Strem Catalog! We are pleased to confirm that your order has been received and is being reviewed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Order Summary Details&lt;/strong&gt;&lt;strong&gt;:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Customer Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Customer Number&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!$Record.Account.Customer_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Customer Email&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Get_Contact.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Order Number&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!$Record.OrderNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Payment Method: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.PaymentOptions__c}{!formula_PaymentOptionPlusMethod}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!formula_PoNumber}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Order Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.OrderedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Coupon Code:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.Coupon_Code__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Shipping Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Shipping Method&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Get_Shipping_Order_Product_Summary.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Shipping Notes: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Order_Deliv_Summary.DeliveryInstructions}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Other:&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Other_Shipping__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Customer Carrier Number:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.CustomerCarrierNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Order Notes: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Order_Notes__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Shipping Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_Order_Deliv_Summary.DeliverToName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Company Name&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;: {!Get_Order_Deliv_Summary.DeliverToCompanyName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Street:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Get_Order_Deliv_Summary.DeliverToStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;City:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Get_Order_Deliv_Summary.DeliverToCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;State:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Get_Order_Deliv_Summary.DeliverToState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Postal Code:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Get_Order_Deliv_Summary.DeliverToPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Country:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Get_Order_Deliv_Summary.DeliverToCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Order Details&lt;/strong&gt;&lt;strong&gt;:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!table}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;SubTotal&lt;/strong&gt;&lt;strong&gt;:&lt;/strong&gt; &lt;span style=&quot;font-size: 14px;&quot;&gt;{!CurrencySymbolFormula}{!Get_Order_Deliv_Summary.OrderSummary.GrandTotalAmount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Shipping will be added to your subtotal. You will receive an invoice along with shipping and tracking information once your order has shipped.&lt;/p&gt;&lt;p&gt;If you have any questions about your order, please do not hesitate to contact us. We are happy to help!&lt;/p&gt;&lt;p&gt;Thank you for your business!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&amp;nbsp;&lt;/p&gt;&lt;p&gt;The Strem Catalog Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Order Notification - {!$Record.OrderNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>updatedTableRow</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Catalog #&lt;/strong&gt;: {!Loop_Through_Order_Prods.Product2.Parent_Sku__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Unit Size: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Unit_Size.Unit_Size__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Quantity&lt;/strong&gt;: {!Loop_Through_Order_Prods.Quantity}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Unit Price&lt;/strong&gt;:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!CurrencySymbolFormula}&lt;/span&gt;{!Loop_Through_Order_Prods.UnitPrice}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Price&lt;/strong&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!CurrencySymbolFormula}&lt;/span&gt;{!Loop_Through_Order_Prods.TotalPrice}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;-------------------------------------------------------&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collectionofProds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>info@ascensusspecialties.com or info-europe@ascensusspecialties.com</description>
        <name>senderEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tableColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_additional_email_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Email_Recip_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
