ASC Prod BAckup/ASC Prod/force-app/main/default/flows/ORDER_SUMMARY_UpdateFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>var_OrderSummary_New.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OrderSummary_New.AccountPaymentMethodId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ORDER_SUMMARY_UpdateFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORDER_SUMMARY_UpdateFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>var_OrderSummary_New</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_OrderSummary_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>var_OrderSummary_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
</Flow>
