ASC Prod BAckup/ASC Prod/force-app/main/default/flows/Product_After_Update_Async_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_removeCMSContent</name>
        <label>Call removeCMSContent</label>
        <locationX>308</locationX>
        <locationY>684</locationY>
        <actionName>B2BRemoveCMSContent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2BRemoveCMSContent</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Has_Structure</name>
        <label>Check Has Structure</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Structure_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Structure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_removeCMSContent</targetReference>
            </connector>
            <label>Has Structure is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Technotes_Field_Updated</name>
        <label>Has Technotes Field Updated?</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_Has_Structure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Tech_Notes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Technical_Notes_URL_Field</targetReference>
            </connector>
            <label>If True</label>
        </rules>
        <rules>
            <name>If_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Tech_Notes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Technical_Notes_URL_to_Null</targetReference>
            </connector>
            <label>If False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Technical_Notes_URL</name>
        <dataType>String</dataType>
        <expression>&apos;https://technote.strem.com/&apos; + {!$Record.Parent_Sku__c} + &apos;tech.pdf&apos;</expression>
    </formulas>
    <interviewLabel>Product After Update Async Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product After Update Async Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Technical_Notes_URL_to_Null</name>
        <label>Set Technical Notes URL to Null</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Check_Has_Structure</targetReference>
        </connector>
        <inputAssignments>
            <field>Technical_Notes_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Technical_Notes_URL_Field</name>
        <label>Update Technical Notes URL Field</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Check_Has_Structure</targetReference>
        </connector>
        <inputAssignments>
            <field>Technical_Notes_URL__c</field>
            <value>
                <elementReference>Technical_Notes_URL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 4 ) AND 2 AND 3</filterLogic>
        <filters>
            <field>Has_Tech_Notes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductClass</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VariationParent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Sku__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Has_Structure__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Has_Technotes_Field_Updated</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
