ASC Prod BAckup/ASC Prod/force-app/main/default/flows/Product2_After_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Base_Product_Type</name>
        <label>Base Product Type?</label>
        <locationX>1130</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Base</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Base</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StockKeepingUnit</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SEO_Slug_for_SKU</targetReference>
            </connector>
            <label>Is Base</label>
        </rules>
    </decisions>
    <description>...euro PBE set to active</description>
    <environments>Default</environments>
    <formulas>
        <name>Technical_Notes_URL</name>
        <dataType>String</dataType>
        <expression>&apos;https://technote.strem.com/&apos; + {!$Record.Parent_Sku__c} + &apos;tech.pdf&apos;</expression>
    </formulas>
    <interviewLabel>Product2 - After Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product2 - After Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Category</name>
        <label>Create Category</label>
        <locationX>650</locationX>
        <locationY>972</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ProductCategoryId</field>
            <value>
                <elementReference>Category.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProductCategoryProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Entitlement</name>
        <label>Create Entitlement</label>
        <locationX>650</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>Create_Category</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>PolicyId</field>
            <value>
                <elementReference>Get_Commerce_Entitlement_Policy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CommerceEntitlementProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>1479</locationX>
        <locationY>785</locationY>
        <inputAssignments>
            <field>B2B_Input_Parameter__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>FLOW: Product2 - After Create Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Ascensus_Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SEO_Slug_for_SKU</name>
        <label>Create SEO Slug for SKU</label>
        <locationX>1348</locationX>
        <locationY>427</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LanguageCode</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope</field>
            <value>
                <stringValue>01t</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrlName</field>
            <value>
                <elementReference>$Record.StockKeepingUnit</elementReference>
            </value>
        </inputAssignments>
        <object>ObjectRelatedUrl</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a default PBE for standard price book at 0. This enables custom PBEs for other pricebooks to be inserted without error</description>
        <name>Create_Standard_EUR_PBE</name>
        <label>Create Standard EUR PBE</label>
        <locationX>650</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Category</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a default PBE for standard price book at $0. This enables custom PBEs for other pricebooks to be inserted without error</description>
        <name>Create_Standard_USD_PBE</name>
        <label>Create Standard USD PBE</label>
        <locationX>650</locationX>
        <locationY>432</locationY>
        <connector>
            <targetReference>Create_Standard_EUR_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Category</name>
        <label>Get Category</label>
        <locationX>650</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Commerce_Entitlement_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Products</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commerce_Entitlement_Policy</name>
        <label>Get Commerce Entitlement Policy</label>
        <locationX>650</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Access for Ascensus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CommerceEntitlementPolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PriceBook</name>
        <label>Get Standard PriceBook</label>
        <locationX>650</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Standard_USD_PBE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Technical_Notes_URL_Field</name>
        <label>Update Technical Notes URL Field</label>
        <locationX>386</locationX>
        <locationY>325</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_Tech_Notes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductClass</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VariationParent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Sku__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Technical_Notes_URL__c</field>
            <value>
                <elementReference>Technical_Notes_URL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Update_Technical_Notes_URL_Field</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Scheduled_Path_1_min_after_CreatedDate</name>
            <connector>
                <targetReference>Get_Standard_PriceBook</targetReference>
            </connector>
            <label>Scheduled Path - 1 min after CreatedDate</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Scheduled_Path_2_min_after_CreatedDate</name>
            <connector>
                <targetReference>Base_Product_Type</targetReference>
            </connector>
            <label>Scheduled Path - 2 min after CreatedDate</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
