ASC Prod BAckup/ASC Prod/force-app/main/default/flows/Request_a_Quote_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_QL_Table</name>
        <label>Generate QL Table</label>
        <locationX>676</locationX>
        <locationY>930</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_CountryWithISOCodes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>QuoteLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>QuoteLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerStyleString</name>
            <value>
                <elementReference>textTempTableHeaderStyle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>get_quote_lines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rowStyleString</name>
            <value>
                <elementReference>textTempTableRowStyle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>LineNumber,Catalog_Number__c,CAS_Number__c,Description,Quantity,Unit_of_Measure__c,CommentPurity__c,Special_Instructions__c,Chemical_Structure_SMILES_Code__c,Demand_Type__c,Grade__c,Molecular_Formula__c,Molecular_Weight__c,Technical_Publication_Reference__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GenerateCollectionReport</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_for_EUR</name>
        <label>Send Email for EUR</label>
        <locationX>519</locationX>
        <locationY>1432</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmailIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Quote details</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_USD</name>
        <label>Send Email For USD</label>
        <locationX>1135</locationX>
        <locationY>1462</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmailIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Quote details</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>body</name>
        <label>body</label>
        <locationX>964</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>lineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Product Name: {!Loop_over_quote_line_items.Product2.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_quote_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sender_Email_Id</name>
        <label>Set Sender Email Id</label>
        <locationX>928</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>senderEmailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Custom_Setting_Records.Sender_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Custom_Setting_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecipientEmailIds</name>
        <label>setRecipientEmailIds</label>
        <locationX>1135</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>recipientEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.B2B_Request_a_Quote_Email_Recipient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_For_USD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecipientEmailIdsForEUR</name>
        <label>setRecipientEmailIdsForEUR</label>
        <locationX>523</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>recipientEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.B2B_Request_a_Quote_Email_Recipient_EUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_for_EUR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_CurrencyCode</name>
        <label>Evaluate CurrencyCode</label>
        <locationX>803</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>setRecipientEmailIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>USD</defaultConnectorLabel>
        <rules>
            <name>EUR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_CountryWithISOCodes.Currency_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecipientEmailIdsForEUR</targetReference>
            </connector>
            <label>EUR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>1150</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>Evaluate_CurrencyCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CountryWithISOCodes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecipientEmailIds</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
    </decisions>
    <description>..updated emailBody.</description>
    <environments>Default</environments>
    <interviewLabel>Request a Quote Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Request a Quote Email</label>
    <loops>
        <name>Loop_Custom_Setting_Records</name>
        <label>Loop Custom Setting Records</label>
        <locationX>741</locationX>
        <locationY>367</locationY>
        <collectionReference>Get_B2B_Order_Confirmation_Email_Addtl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Sender_Email_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_quote_lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_quote_line_items</name>
        <label>Loop over quote line items</label>
        <locationX>733</locationX>
        <locationY>718</locationY>
        <collectionReference>get_quote_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>body</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_QL_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>1088</locationX>
        <locationY>1719</locationY>
        <inputAssignments>
            <field>B2B_Input_Parameter__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>FLOW: B2B Request a Quote Email</stringValue>
            </value>
        </inputAssignments>
        <object>Ascensus_Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_B2B_Order_Confirmation_Email_Addtl</name>
        <label>Get B2B_Order_Confirmation_Email_Addtl</label>
        <locationX>568</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Custom_Setting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Currency_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2B_Order_Confirmation_Email_Addtl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CountryWithISOCodes</name>
        <label>Get CountryWithISOCodes</label>
        <locationX>907</locationX>
        <locationY>930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteCountry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CountryWithISOCode__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_quote_lines</name>
        <label>get quote lines</label>
        <locationX>732</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_QL_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_quote</name>
        <label>update quote</label>
        <locationX>815</locationX>
        <locationY>1591</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>442</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_B2B_Order_Confirmation_Email_Addtl</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.First_Name__c} {!$Record.Last_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Thank you for expressing interest in Strem Catalog products. We value your business and are pleased to confirm receipt of your quote request. Our team will promptly follow up with detailed information regarding pricing, availability, and other pertinent product details. Please feel free to contact us directly at info@ascensusspecialties.com should you have any further questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please review the following information carefully, and if you notice any errors or discrepancies, please contact us.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Quote Number&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; : &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;{!$Record.QuoteNumber} | {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company / Institution&lt;/strong&gt; :&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(24, 24, 24);&quot;&gt;{!$Record.Company_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer Account Number &lt;/strong&gt;:&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(24, 24, 24);&quot;&gt;{!$Record.Customer_Account_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Shipping&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Address&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;: {!$Record.Address__c}, {!$Record.City__c}, {!$Record.QuoteState__c}, {!$Record.Postal_Code__c}, {!$Record.QuoteCountry__c}﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Billing Address&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;{!$Record.Billing_Address__c}, {!$Record.Billing_City__c}, {!$Record.BillingState__c}, {!$Record.Billing_Postal_Code__c},{!$Record.BillingCountry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Email&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; : &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Phone&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;{!$Record.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Desired Shipment Date&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;{!$Record.Desired_Shipment_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Information requested:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Generate_QL_Table.reportString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Thanks,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The Strem Catalog Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTempTableHeaderStyle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>background-color: #808080;
  color: white;</text>
    </textTemplates>
    <textTemplates>
        <name>textTempTableRowStyle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>background-color: #cccddff;</text>
    </textTemplates>
    <variables>
        <name>lineItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recipientEmailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>info@ascensusspecialties.com or info-europe@ascensusspecialties.com</description>
        <name>senderEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
