ASC Prod BAckup/ASC Prod/force-app/main/default/flows/SCRN_RegistrationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_to_Billing_Vars</name>
        <label>Assign Billing to Billing Vars</label>
        <locationX>644</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>var_Billing_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>conditional_validity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please fix the State values in the Address Below.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message2</name>
        <label>Assign Error Message</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please add a VAT below.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Vars_to_Respective_Vars</name>
        <label>Assign Screen Vars to Respective Vars</label>
        <locationX>861</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>var_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcceptEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcceptTerms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Areas_of_Interest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Areas_of_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attention</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_organization_account_no</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organization_account_no</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Organization_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organization_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Organization_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organization_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Same_as_Shipping_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Same_as_Shipping_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Shipping_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Shipping_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Shipping_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Shipping_Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Shipping_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Tax_Exempt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Exempt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_VAT_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAT_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Billing_Same_as_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_to_Billing_Vars</name>
        <label>Assign Shipping to Billing Vars</label>
        <locationX>380</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>var_Billing_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Billing_Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>conditional_validity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>conditional_validity</name>
        <label>conditional validity</label>
        <locationX>512</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>get_Lead_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_State_Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shipping_State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message</targetReference>
            </connector>
            <label>Shipping State Not Valid</label>
        </rules>
        <rules>
            <name>Vat_Number_Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EuropeanCountries</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_Billing_Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAT_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message2</targetReference>
            </connector>
            <label>Vat Number Not Valid</label>
        </rules>
        <rules>
            <name>Billing_State_Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Billing State Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Billing_Same_as_Shipping</name>
        <label>If Billing Same as Shipping?</label>
        <locationX>538</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_to_Billing_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Same</defaultConnectorLabel>
        <rules>
            <name>Billing_Same_as_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Same_as_Shipping_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_to_Billing_Vars</targetReference>
            </connector>
            <label>Billing Same as Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_lead_record_exist</name>
        <label>If lead record exist?</label>
        <locationX>974</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>Success_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create a lead</defaultConnectorLabel>
        <rules>
            <name>Don_t_create_a_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Exist_Info</targetReference>
            </connector>
            <label>Don&apos;t create a Lead</label>
        </rules>
    </decisions>
    <description>New Registration Flow</description>
    <dynamicChoiceSets>
        <name>choice_AreasOfInterest</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Areas_of_Interest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_Country__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_OrgType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>null__NotFound</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SCRN_RegistrationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCRN_RegistrationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Lead_record</name>
        <label>get Lead record</label>
        <locationX>974</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_lead_record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>697</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Debug2</name>
            <fieldText>&lt;p&gt;DEBUG&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Exist_Info</name>
        <label>Record Exist Info</label>
        <locationX>842</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>failureInfoText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(170, 23, 23); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Your information already exists in the system.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Screen</name>
        <label>Registration Screen</label>
        <locationX>395</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Registration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Register_Header</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 114, 206);&quot;&gt;&lt;u&gt;Register with Strem&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayErrorMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(179, 4, 26); font-size: 16px;&quot;&gt;{!var_ErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ErrorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Registration_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LoginInfoSection</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Login Information﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>var_Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please enter some valid email.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
CONTAINS(LOWER(RIGHT(TRIM({!Email.value}),4)),&apos;.com&apos;),
CONTAINS(LOWER(RIGHT(TRIM({!Email.value}),4)),&apos;.org&apos;),
CONTAINS(LOWER(RIGHT(TRIM({!Email.value}),4)),&apos;.edu&apos;),
CONTAINS(LOWER(RIGHT(TRIM({!Email.value}),4)),&apos;.net&apos;),
CONTAINS(LOWER(RIGHT(TRIM({!Email.value}),4)),&apos;.mil&apos;),
CONTAINS(LOWER(RIGHT(TRIM({!Email.value}),4)),&apos;.int&apos;),
CONTAINS(LOWER(RIGHT(TRIM({!Email.value}),3)),&apos;.co&apos;)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Registration_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingInfoSection</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Shipping Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Organization_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Organization_Name</elementReference>
                    </defaultValue>
                    <fieldText>Organization Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Organization_Type</name>
                    <choiceReferences>Choice_OrgType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Organization_Type</elementReference>
                    </defaultValue>
                    <fieldText>Organization Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_First_Name</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Last_Name</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>var_Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shipping_Address</name>
            <defaultValue>
                <stringValue>{!var_Shipping_Address}</stringValue>
            </defaultValue>
            <fieldText>Street Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Shipping_City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Shipping_State</elementReference>
                    </defaultValue>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StateValidError</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(179, 4, 26);&quot;&gt;Please enter a valid state for the country!&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipping_State_Not_Valid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_Country</name>
                    <choiceReferences>choice_Country</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Shipping_Country</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Shipping_Postal_Code</elementReference>
                    </defaultValue>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Attention</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Attention</elementReference>
                    </defaultValue>
                    <fieldText>Attention</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>organization_account_no</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_organization_account_no</elementReference>
            </defaultValue>
            <fieldText>If your organization already has an account number, please enter it here</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingInfoSection</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Billing Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Same_as_Shipping_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Same_as_Shipping_Address</elementReference>
            </defaultValue>
            <fieldText>Same as Shipping Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Address</name>
                    <defaultValue>
                        <stringValue>{!var_Billing_Address}</stringValue>
                    </defaultValue>
                    <fieldText>Address Street</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Same_as_Shipping_Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Registration_Screen_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Billing_City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Billing_State</elementReference>
                    </defaultValue>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>displayBillingStateError</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(179, 4, 26); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid state for the country!&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Billing_State_Not_Valid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Same_as_Shipping_Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Registration_Screen_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Country</name>
                    <choiceReferences>choice_Country</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Billing_Country</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Billing_Postal_Code</elementReference>
                    </defaultValue>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Same_as_Shipping_Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Registration_Screen_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Exempt</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Tax_Exempt</elementReference>
                    </defaultValue>
                    <fieldText>Tax Exempt</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;{!var_TaxExempt_Description}&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TaxExemptDescription</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 114, 206);&quot;&gt;{!var_TaxExempt_Description}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registration_Screen_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VAT_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_VAT_Number</elementReference>
                    </defaultValue>
                    <fieldText>VAT Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;{!var_VatNumber_Description}&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>VatNumberDescription</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 114, 206);&quot;&gt;{!var_VatNumber_Description}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>VatValidError</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(179, 4, 26);&quot;&gt;Please enter a VAT Number!&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Vat_Number_Not_Valid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Screen_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registration_Screen_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AreasOfInterestSection</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Areas of Interest&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Areas_of_Interest</name>
                    <choiceReferences>choice_AreasOfInterest</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_Areas_of_Interest</elementReference>
                    </defaultValue>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Policy_Section</name>
            <fieldText>Policy</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Policy_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcceptEmails</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>var_AcceptEmails</elementReference>
                    </defaultValue>
                    <fieldText>I would like to receive occasional marketing emails about new products and promotions.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AcceptTerms</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>var_AcceptTerms</elementReference>
                    </defaultValue>
                    <fieldText>I have read and accept the Terms of Use &amp; Privacy Policy</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please accept Terms of Use &amp;amp; Privacy Policy !&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!AcceptTerms} = true</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Info</name>
        <label>Success Info</label>
        <locationX>1106</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 71, 178);&quot;&gt;We have received and are reviewing your information. We are working on creating your account, please look for an email from our customer service team shortly.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Debug</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcceptEmails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcceptTerms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Areas_of_Interest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Attention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Billing_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Billing_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Billing_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Billing_Postal_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Billing_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EuropeanCountries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Albania, Andorra, Armenia, Austria, Azerbaijan, Belarus, Belgium, Bosnia and Herzegovina, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Georgia, Germany, Greece, Hungary, Iceland, Ireland, Italy, Kosovo, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Moldova, Monaco, Montenegro, Netherlands, Norway, Poland, Portugal, Romania, San Marino, Serbia, Slovakia, Slovenia, Spain, Sweden, Switzerland, Turkey, Ukraine, United Kingdom</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_organization_account_no</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Organization_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Organization_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Same_as_Shipping_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Shipping_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Shipping_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Shipping_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Shipping_Postal_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Shipping_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Tax_Exempt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TaxExempt_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>If your organization is a tax-exempt entity in Massachusetts, please enter your tax-exempt number here and we will not charge Massachusetts sales tax on your orders.</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_VAT_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VatNumber_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>For countries based in Europe, please enter your VAT number.</stringValue>
        </value>
    </variables>
</Flow>
