ASC Prod BAckup/ASC Prod/force-app/main/default/flows/SCRN_Lead_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Actual_Input_Value_to_Var_Company</name>
        <label>Assign Actual Input Value to Var Company</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Company_University</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Some_Value_to_Var_Company</name>
        <label>Assign Some Value to Var Company</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ascensus Store</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Lead_Record_Exist</name>
        <label>Case/Lead Record Exist?</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_Company_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>create a Lead</defaultConnectorLabel>
        <rules>
            <name>Don_t_create_a_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recordExist</targetReference>
            </connector>
            <label>Don&apos;t create a Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Company_Value</name>
        <label>Check Company Value</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Some_Value_to_Var_Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Input Value Missing</defaultConnectorLabel>
        <rules>
            <name>Input_Value_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Company_University</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue> </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Actual_Input_Value_to_Var_Company</targetReference>
            </connector>
            <label>Input Value Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Fields_Populated</name>
        <label>Required Fields Populated?</label>
        <locationX>281</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Case_LeadGet_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create a Lead</defaultConnectorLabel>
        <rules>
            <name>Yes_Don_t_Create_a_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>first_name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>last_name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Yes, Don&apos;t Create a Lead</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceAreasOfInterest</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Areas_of_Interest__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SCRN_ {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SCRN_Case/Lead_Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Lead</name>
        <label>Create Case/Lead</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Case_Lead_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Agreed_to_Receive_Emails__c</field>
            <value>
                <elementReference>agreeTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Areas_of_Interest__c</field>
            <value>
                <elementReference>Lead_Areas_of_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_to_Lead_Source__c</field>
            <value>
                <stringValue>Ascensus Store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_to_Lead__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_University__c</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Lead_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Lead_Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.B2B_SCRN_Default_Owner_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Lead_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Lead_Created</name>
        <label>Get Case/Lead Created</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Lead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_LeadGet_Lead</name>
        <label>Get Case/Lead</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Lead_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SuppliedEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Email.value</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Create_Lead_Screen</name>
        <label>Create Lead Screen</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Required_Fields_Populated</targetReference>
        </connector>
        <fields>
            <name>Create_Lead_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Lead_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Lead_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Lead_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Lead_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please enter some valid email.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
CONTAINS(LOWER(RIGHT({!Lead_Email.value},4)),&apos;.com&apos;),
CONTAINS(LOWER(RIGHT({!Lead_Email.value},4)),&apos;.org&apos;),
CONTAINS(LOWER(RIGHT({!Lead_Email.value},4)),&apos;.edu&apos;),
CONTAINS(LOWER(RIGHT({!Lead_Email.value},4)),&apos;.net&apos;),
CONTAINS(LOWER(RIGHT({!Lead_Email.value},4)),&apos;.mil&apos;),
CONTAINS(LOWER(RIGHT({!Lead_Email.value},4)),&apos;.int&apos;),
CONTAINS(LOWER(RIGHT({!Lead_Email.value},3)),&apos;.co&apos;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Lead_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Country</name>
                    <choiceReferences>choiceCountry</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Lead_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Lead_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Company_University</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Company</elementReference>
                    </defaultValue>
                    <fieldText>Company/University</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Lead_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Job_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Job Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Lead_Areas_of_Interest</name>
            <choiceReferences>choiceAreasOfInterest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Areas of Interest</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Terms_Privacy_section</name>
            <fieldText>Policy</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Terms_Privacy_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>agreeText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;I agree to receive occasional marketing e-mails and &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I have read and accept the &lt;/span&gt;&lt;a href=&quot;/privacy-statement&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit;&quot;&gt;Terms of Use Privacy Policy&lt;/a&gt;&lt;span style=&quot;font-size: inherit;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>agreeTerms</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Accept</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please accept to receive marketing e-mails!&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!agreeTerms} = true</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>first_name</name>
                    <dataType>String</dataType>
                    <fieldText>first name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CaseId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>last_name</name>
                    <dataType>String</dataType>
                    <fieldText>last name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CaseId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(170, 23, 23); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;There was an issue in creating the Lead.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>recordExist</name>
        <label>recordExist</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayRecordExist</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(170, 23, 23); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Your information already exists in the system.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen Success</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaySuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 71, 178); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Your information has been successfully submitted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Lead_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
