ASC Prod BAckup/ASC Prod/force-app/main/default/flows/SCRN_ContactUs_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1185</locationX>
        <locationY>1039</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideAddress.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>1184</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>varCaseCreate.Company_University__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCompany_University</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.B2B_SCRN_Default_Owner_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Regarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_from_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Values_0</name>
        <label>Assign Case Values - Guest</label>
        <locationX>1341</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>varCaseCreate.Company_University__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCompany_University</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.B2B_SCRN_Default_Owner_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Regarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseCreate.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_from_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Email_Recipients</name>
        <label>Set All Email Recipients</label>
        <locationX>997</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>varEmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.B2B_Request_a_Quote_Email_Recipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acceptterm</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bot_Fields_Populated</name>
        <label>Bot Fields Populated?</label>
        <locationX>827</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create a Case</defaultConnectorLabel>
        <rules>
            <name>Yes_Don_t_Create_a_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>first_name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>last_name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Yes, Don&apos;t Create a Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGuest</name>
        <label>IsGuest?</label>
        <locationX>1358</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Guest_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Values_0</targetReference>
            </connector>
            <label>Guest User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>1247</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>IsGuest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Accept_Terms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputTerms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Us</targetReference>
            </connector>
            <label>Accept Terms</label>
        </rules>
    </decisions>
    <description>..Updated recipient and email body v1</description>
    <dynamicChoiceSets>
        <name>choiceCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceRegarding</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Regarding__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TLDs</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!inputEmail.value}, &quot;.com&quot;) || 
CONTAINS({!inputEmail.value}, &quot;.org&quot;) || 
CONTAINS({!inputEmail.value}, &quot;.edu&quot;) || 
CONTAINS({!inputEmail.value}, &quot;.net&quot;) || 
CONTAINS({!inputEmail.value}, &quot;.gov&quot;) || 
CONTAINS({!inputEmail.value}, &quot;.mil&quot;) || 
CONTAINS({!inputEmail.value}, &quot;.int&quot;) || 
CONTAINS({!inputEmail.value}, &quot;.co&quot;)</expression>
    </formulas>
    <interviewLabel>SCRN_ContactUs_Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SCRN_ContactUs_Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>515</locationX>
        <locationY>795</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company_University__c</field>
            <value>
                <elementReference>inputCompany_University</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>inputCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>inputComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>inputFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>inputLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.B2B_SCRN_Default_Owner_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regarding__c</field>
            <value>
                <elementReference>inputRegarding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>inputRegarding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>inputEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>inputPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_from_Var</name>
        <label>Create Case from Var</label>
        <locationX>1077</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>varCaseCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1159</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrgWideAddress</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseCreate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1185</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideAddress</name>
        <label>Get OrgWideAddress</label>
        <locationX>1002</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_All_Email_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.B2B_NoReply_SenderEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Us</name>
        <label>Contact Us</label>
        <locationX>1016</locationX>
        <locationY>181</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Bot_Fields_Populated</targetReference>
        </connector>
        <fields>
            <name>inputRegarding</name>
            <choiceReferences>choiceRegarding</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Other Inquiries</stringValue>
            </defaultValue>
            <fieldText>How may we help? Please select a topic:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Us_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Us_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputFirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>inputFirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Us_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputLastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>inputLastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Us_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Us_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>inputEmail.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please enter a valid email&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!inputEmail.value}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Us_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputCountry</name>
                    <choiceReferences>choiceCountry</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>inputCountry</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Us_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Us_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputCompany_University</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>inputCompany_University</elementReference>
                    </defaultValue>
                    <fieldText>Company/University</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Us_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>inputPhone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>inputComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Us_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Us_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pleaseAcceptTerms_DisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 0);&quot;&gt;Please accept terms to continue&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Accept_Terms</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>accept_displayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;I have read and accept the &lt;/span&gt;&lt;a href=&quot;/privacy-statement&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 81, 255); background-color: rgb(255, 255, 255);&quot;&gt;Terms of Use  Privacy Policy&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 81, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputTerms</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>inputTerms</elementReference>
                    </defaultValue>
                    <fieldText>Accept</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Us_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Us_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>first_name</name>
                    <dataType>String</dataType>
                    <fieldText>first_name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>contactId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>last_name</name>
                    <dataType>String</dataType>
                    <fieldText>last name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>contactId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>518</locationX>
        <locationY>612</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_displaySuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(170, 23, 23); font-size: 18px;&quot;&gt;Unfortunately. there was an issue submitting your contact request. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(170, 23, 23); font-size: 18px;&quot;&gt;Please contact our customer service team at (978) 499 1600.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen Success</label>
        <locationX>1185</locationX>
        <locationY>1179</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Navigate_to_Thank_You_Page</name>
            <extensionName>c:navigateAndShowToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>webPageURL</name>
                <value>
                    <stringValue>/contact-us-thank-you</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parameterName</name>
                <value>
                    <stringValue>caseNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parameterValue</name>
                <value>
                    <elementReference>Get_Case.CaseNumber</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Contact_Us</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Get_Case.First_Name__c} {!Get_Case.Last_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We have received your request, please see details below:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Case Number :&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;{!Get_Case.CaseNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email : &lt;/strong&gt;{!Get_Case.SuppliedEmail}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;{!Get_Case.SuppliedPhone}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Company/University :&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; {!Get_Case.Company_University__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Need Help Regarding : &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Case.Regarding__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Comment : &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Case.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country : &lt;/strong&gt;{!Get_Case.Country__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Thanks,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The Strem Catalog Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TC_Checkbox_lable</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;I have read and accept the &lt;a href=&quot;https://www.strem.com/about/privacy.php&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Terms of Use &amp;amp; Privacy Policy&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varEmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
