ASC Prod BAckup/ASC Prod/force-app/main/default/flows/Sync_RD_Project_Contributors_PSA_to_RD_Contributors_PG.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PS_assignee_to_list</name>
        <label>Add PS assignee to list</label>
        <locationX>622</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varPSAssigneeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_PSA.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PS_assignee_to_PG_Member_List</name>
        <label>Add PS assignee to PG Member List</label>
        <locationX>710</locationX>
        <locationY>1674</locationY>
        <assignmentItems>
            <assignToReference>varPGMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RD_Contributors_PG.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPGMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_PSA.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPGMembersList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPGMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_PSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_flag</name>
        <label>Reset flag</label>
        <locationX>622</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>isUserExistsInPG</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_PG_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_flag</name>
        <label>Set flag</label>
        <locationX>710</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>isUserExistsInPG</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_flag_set</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constRDContributorsPGAPI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>R_D_Contributors</stringValue>
        </value>
    </constants>
    <constants>
        <name>constRDProjectContributorPSAPI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RD_Project_Contributor_Permissions</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found_PG_members_to_remove</name>
        <label>Found PG members to remove?</label>
        <locationX>182</locationX>
        <locationY>2358</locationY>
        <defaultConnectorLabel>No PG members found to remove</defaultConnectorLabel>
        <rules>
            <name>PG_Members_found_to_remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PG_members_to_remove</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_PG_members_not_in_PSA</targetReference>
            </connector>
            <label>PG Members found to remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_flag_set</name>
        <label>Is flag set?</label>
        <locationX>622</locationX>
        <locationY>1566</locationY>
        <defaultConnector>
            <targetReference>Add_PS_assignee_to_PG_Member_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PS assignee not in PG</defaultConnectorLabel>
        <rules>
            <name>PS_assignee_in_PG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUserExistsInPG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_PSA</targetReference>
            </connector>
            <label>PS assignee in PG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PS_Assignee_PG_member</name>
        <label>Is PS Assignee = PG member?</label>
        <locationX>842</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_PG_members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignee_PG_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_PSA.AssigneeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_over_PG_members.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_flag</targetReference>
            </connector>
            <label>Assignee = PG member</label>
        </rules>
    </decisions>
    <decisions>
        <name>PG_members_to_add</name>
        <label>PG members to add?</label>
        <locationX>182</locationX>
        <locationY>1950</locationY>
        <defaultConnector>
            <targetReference>Get_PG_members_to_remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPGMembersList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_members_to_PG</targetReference>
            </connector>
            <label>Add members</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync RD Project Contributors PSA to RD Contributors PG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync RD Project Contributors PSA to RD Contributors PG</label>
    <loops>
        <name>Iterate_over_PG_members</name>
        <label>Iterate over PG members</label>
        <locationX>622</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_RD_Contributors_PG_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_PS_Assignee_PG_member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_flag_set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_PSA</name>
        <label>Iterate over PSA</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_RD_Project_Contributor_PSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PS_assignee_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PG_members_to_add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_members_to_PG</name>
        <label>Add members to PG</label>
        <locationX>50</locationX>
        <locationY>2058</locationY>
        <connector>
            <targetReference>Get_PG_members_to_remove</targetReference>
        </connector>
        <inputReference>varPGMembersList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Remove_PG_members_not_in_PSA</name>
        <label>Remove PG members not in PSA</label>
        <locationX>50</locationX>
        <locationY>2466</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RD_Contributors_PG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varPSAssigneeList</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_PG_members_to_remove</name>
        <label>Get PG members to remove</label>
        <locationX>182</locationX>
        <locationY>2250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_PG_members_to_remove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RD_Contributors_PG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varPSAssigneeList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RD_Contributors_PG</name>
        <label>Get RD Contributors PG</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RD_Contributors_PG_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constRDContributorsPGAPI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RD_Contributors_PG_Members</name>
        <label>Get RD Contributors PG Members</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_PSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RD_Contributors_PG.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RD_Project_Contributor_PS</name>
        <label>Get RD Project Contributor PS</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RD_Project_Contributor_PSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constRDProjectContributorPSAPI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RD_Project_Contributor_PSA</name>
        <label>Get RD Project Contributor PSA</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RD_Contributors_PG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RD_Project_Contributor_PS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RD_Project_Contributor_PS</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-16</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isUserExistsInPG</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPGMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varPGMembersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varPSAssigneeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsersToAddToPG</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
